/* You can add global styles to this file, and also import other style files */
.footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  background-color: blue;
  text-align: center;
  color: white;
}
#sect1 {
  height: auto;
  color: #fff;
  background-image: url("background.jpg");
  background-size: 1000px;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
}
